@import "bourbon";
@import "neat";

@import "partials/normalize";
@import "partials/variables";
@import "partials/responsive";

body {
  font-family: $font-stack;
  color: $font-color;
  font-weight: normal;
}

.hero {
  @include outer-container(100%);
}

.hero__banner {
  background: url(http://place-hold.it/) $light-color center top no-repeat;
  background-size: cover;
  padding: 10em 0 2em;

  @include media($mobile) {
    padding: 2em 0;
  }
}

.hero__title {
  text-align: center;
  font-size: $font-size-xl;

  @include media($mobile) {
    font-size: $font-size-lrg;
  }
}

.container {
  @include outer-container(100%);

  h2 {
    font-size: $font-size-med;
    text-align: center;
    padding-bottom: 2em;
  }
}

.container--full {
  @include span-columns(12);
  @include omega();
}

.container--left,
.container--right {
  @include media($desktop) {
    @include span-columns(6, block-collapse);
  }

  @include media($tablet) {
    @include span-columns(6, block-collapse);
  }

  @include media($mobile) {
    @include span-columns(12);
  }
}

.container--right {
  @include omega();
  border-left: 1px solid $default-color;

  @include media($mobile) {
    border-bottom: 1px solid $default-color;
  }
}

.container--full,
.container--left,
.container--right {
  border-top: 1px solid $default-color;
  padding: $gutter-in-block;
}
