@import "bourbon";
@import "neat";

@import "partials/base";
@import "partials/normalize";
@import "partials/responsive";
@import "partials/buttons";
@import "partials/form";

body {
  font-family: $font-stack;
  color: $font-color;
  font-size: $font-base;
}

.hero {
  @include outer-container(100%);
}

.hero__banner {
  background: url(http://place-hold.it/) $light-grey center top no-repeat;
  background-size: cover;
  padding: 10em 0 2em;

  @include media($mobile) {
    padding: 2em 0;
  }
}

.hero__title {
  text-align: center;
  font-size: $font-size-xl;
  font-weight: normal;

  @include media($mobile) {
    font-size: $font-size-lrg;
  }
}

.container {
  @include outer-container(100%);
}

.container__header {
  font-size: $font-size-med;
  text-align: center;
  padding-bottom: 1em;
  font-weight: normal;
}

.container__sect--full,
.container__sect--left,
.container__sect--right {
  border-top: 1px solid $default-color;
  padding: $gutter-in-block;

  @include media($mobile) {
    padding: $gutter-mobile;
  }
}

.container__sect--full {
  @include span-columns(12);
  @include omega();
}

.container__table {
  @include fill-parent();
}

.container__sect--left,
.container__sect--right {
  text-align: center;

  @include media($desktop) {
    @include span-columns(6, block-collapse);
  }

  @include media($tablet) {
    @include span-columns(12);
  }

  @include media($mobile) {
    @include span-columns(12);
  }
}

.container__sect--right {
  @include omega();
  border-left: 1px solid $default-color;

  @include media($mobile) {
    border-bottom: 1px solid $default-color;
  }
}

.grid__head-row {
  background-color: $mid-grey;
}

.grid__cells td,
.grid__cells th {
  padding: .5em;
  border: 1px solid $default-color;
  text-align: center;
}

.list {
  padding: 0;
}

.list__item {
  list-style: none;
  padding: 0 0 1em;
  font-size: $font-base;
}

.list__icon--remove {
  width: 1.1em;
  height: 1.1em;
  vertical-align: middle;
  display: inline-block;
  margin-left: .5em;
}
