@import "bourbon";
@import "neat";

@import "reset";
@import "variables";
// @import "_mixins.scss";

body {
  font-family: $font-stack;
  color: $font-color;
}

.hero {
  @include outer-container(100%);
}

.hero__banner {
  background: url(http://place-hold.it/) $light-color center top no-repeat;
  background-size: cover;
  padding: 10em 0 2em;
  border-bottom: 1px solid $default-color;
}

.hero__title {
  text-align: center;
  font-size: $font-size-lrg;
}

.content-box {
  @include outer-container;
  h2 {
    font-size: $font-size-med;
    text-align: center;
    padding: 2em 0;
  }
}

.content-box--full {
  @include span-columns(12);
  @include omega();
}

.content-box--left {
  @include span-columns(6);
}

.content-box--right {
  @include span-columns(6);
  @include omega();
}
