<!DOCTYPE html>
<html ng-app="LeagueTable">
  <head>
    <meta charset="utf-8">
    <title>Ping Pong League Table</title>
    <link rel="stylesheet" href="/assets/css/app.min.css">
    <script src="../bower_components/jquery/dist/jquery.js" defer></script>
    <script src="../bower_components/angular/angular.js" ></script>
    <script src="../bower_components/angular-resource/angular-resource.js" ></script>
    <script src="/js/app.js" defer></script>
    <script src="/js/leagueController.js" defer></script>
    <script src="/js/getPlayerDetails.js" defer></script>
  </head>
  <body ng-controller="LeagueTableController as ctrl">

    <header class="hero" role="banner">
      <div class="hero__banner">
        <h1 class="hero__title">Ping pong league table</h1>
      </div>
    </header>

    <main class="container" role="main">
      <section class="container__sect--full">
        <h2 class="container__header">Leaderboard:</h2>
        <table class="container__table grid__cells">
          <thead>
            <tr class="grid__head-row">
              <th class="grid__cells">#</th>
              <th class="grid__cells grid__cells--pull-left">Name</th>
              <th class="grid__cells">Won</th>
              <th class="grid__cells">Lost</th>
              <th class="grid__cells">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in ctrl.allPlayers | orderBy:'points':true" ng-repeat="i in ctrl.getNumber(ctrl.playerCounter) track by $index">
              <td class="grid__cells">{{$index + 1}}</td>
              <td class="grid__cells grid__cells--pull-left"><img class="media__img--gravatar" ng-src="{{player.image}}" alt="player gravatar">{{player.name}}</td>
              <td class="grid__cells">{{player.won}}</td>
              <td class="grid__cells">{{player.lost}}</td>
              <td class="grid__cells">{{player.points}}</td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="container__sect--left">
        <h2 class="container__header">Latest games</h2>
        <ul class="list">
          <li class="list__item" ng-repeat="game in ctrl.gameResults | limitTo: 5 | orderBy: '-created_at'">
            {{game.player1Name}}
            {{game.score1}}
            &ndash;
            {{game.score2}}
            {{game.player2Name}}
            <img class="list__icon--remove" ng-click="ctrl.deleteGame(game)" src="/assets/img/bin.png" alt="Delete game">
          </li>
          <li class="list__item--no-data" ng-show="!ctrl.gameResults.length">No games</li>
        </ul>
      </section>

      <section class="container__sect--right">
        <h2 class="container__header">Add games</h2>
          <form name="game" role="form">
            <div class="form-input">
              <select class="form-input__select" ng-model="ctrl.player1" ng-options="player.name for player in ctrl.allPlayers">
                <option value="">Look for player</option>
              </select>
              <span class="form-input__copy--med">vs</span>
              <select class="form-input__select" ng-model="ctrl.player2" ng-options="player.name for player in ctrl.allPlayers">
                <option value="">Look for player</option>
              </select>
            </div>
            <div class="form-input">
              <label for="scores" class="form-input__label">Score (max. of 5)</label>
              <input class="form-input__field"  ng-model="ctrl.scores.player1" />
              <span>&ndash;</span>
              <input class="form-input__field" type="text" ng-model="ctrl.scores.player2" />
            </div>
            <div class="form-input">
              <button class="btn form-input__btn--primary" type="submit" ng-click="ctrl.addGame()">Add game</button>
            </div>
          </form>
      </section>

    </main>
  </body>
</html>
