$mobile-width: 480px;
$sml-desktop-width: 900px;

$mobile: new-breakpoint(max-width $mobile-width);
$sml-desktop: new-breakpoint(min-width $mobile-width max-width $sml-desktop-width);
$lrg-desktop: new-breakpoint(min-width $sml-desktop-width);
